.find-food {
    display: grid;
    grid-template-areas: 
    ". a c"
    ". b c"
    ". d c";
    grid-template-rows: 50px 345px 7500px;
    grid-template-columns: 300px 1fr 450px;        
    position: absolute;
    width: 100vw;
    height: 100vh-65px;
  }

.find-food-title {
    grid-area: a;
    text-align: center;
}

.find-food-form {
    grid-area: b;
    width: 90%;
    margin: auto;
    border-style: hidden;
    background: rgba(40,40,40, .84);
    border-radius: 25px;
    padding: 20px;
    text-align: center
}

.find-food-form input {
    background-color:rgb(40, 40, 40);
    border-radius: 20px;
    border: 2px solid;
    padding: 12px;
    font-size: 16px;
    border-color: rgb(127,255,212);
    color: rgb(127,255,212);
    text-align: center;
    margin-top: 1%;
    width: 300px;
}

.find-food-form button {
    margin-top: 3%;
    background-color:rgb(40,40,40);
    border-radius: 20px;
    border: 2px solid;
    padding: 12px;
    border-color: rgb(127,255,212);
    color: rgb(127,255,212);
    font-weight:bolder;
    font-size: 16px;
}

.find-food-form button:hover {
    background-color: rgb(65, 65, 65);
}

.find-food-form select {
    font-size: 16px;
    background-color:rgb(65,65,65);
    border-style:hidden;
    border-radius: 20px;
    padding: 6px;
    color: rgb(127,255,212);
    margin-top: 2%;
}

.display-brand-foods {
    grid-area: d;
    width: 90%;
    margin: auto;
    border-style: hidden;
    background: rgba(40,40,40, .84);
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    margin-top: 1%;
}

.display-brand-error {
    margin-top: 3%;
    grid-area: d; 
    text-align: center;
}

.food-success-message {
    margin-top: 3%;
    grid-area: d;
    text-align: center;
}

.each-brandFood {
    width: 80%;
    margin: auto;
    border-style: hidden;
    background: rgba(50,50,50, 1);
    border-radius: 25px;
    padding: 10px;
    z-index: 40;
    margin-top: 2%;
    text-align: center;
}

.food-sort {
    background-color:rgb(40,40,40);
    border-style:solid;
    border-radius: 20px;
    border: 2px solid;
    padding: 16px;
    font-size: 20px;
    border-color: rgb(127,255,212);
    color: rgb(127,255,212);
    text-align: center;
}

.display-brand-foods li {
    list-style-type: none;
}


.find-food-description {
    grid-area: c;
    width: 400px;
    margin-top: 100px;
}

.find-food-description h2 {
    text-align: center;
}

.find-food-description li {
    list-style-type: none;
    margin-top: 3%;
}

.success-message {
    margin-top: 4%;
}

.brand-food-modal .add-brand-meal-button {
    background-color: rgb(65, 65, 65);
    color: rgb(127,255,212);
    border-style: hidden;
    font-size: 20px;
}

.brand-food-modal .add-brand-meal-button:hover {
    background-color: rgb(80, 80, 80);
    color: white;
}