.find-food {
    display: grid;
    grid-template-areas: 
    ". a c"
    ". b c"
    ". d c";
    grid-template-rows: 10vh 40vh 7500px;
    grid-template-columns: 25vw 45vw 30vw;        
    position: absolute;
    width: 100vw;
  }

.find-food-title {
    margin-top: 3vh;
    grid-area: a;
    text-align: center;
    font-size: 3vw;
}

.find-food-form {
    grid-area: b;
    width: 90%;
    margin: auto;
    border-style: hidden;
    background: rgba(40,40,40, .84);
    border-radius: 1.4vw;
    padding: 0.5em;
    text-align: center
}

.find-food-form input {
    background-color:rgb(40, 40, 40);
    border-radius: 1.4vw;
    border: 2px solid;
    padding: 0.5em;
    font-size: 1.2vw;
    border-color: rgb(127,255,212);
    color: rgb(127,255,212);
    text-align: center;
    margin-top: 1%;
    width: 65%;
}

.find-food-form button {
    margin-top: 3%;
    background-color:rgb(40,40,40);
    border-radius: 1.4vw;
    border: 2px solid;
    padding: 0.5em;
    border-color: rgb(127,255,212);
    color: rgb(127,255,212);
    font-weight:bolder;
    font-size: 1.4vw;
}

.find-food-form button:hover {
    background-color: rgb(65, 65, 65);
}

.find-food-form select {
    font-size: 1.2vw;
    background-color:rgb(65,65,65);
    border-style:hidden;
    border-radius: 1.4vw;
    padding: 0.4em;
    color: rgb(127,255,212);
    margin-top: 2%;
}

.display-brand-foods {
    grid-area: d;
    width: 90%;
    margin: auto;
    border-style: hidden;
    background: rgba(40,40,40, .84);
    border-radius: 1.4vw;
    padding: 0.4em;
    text-align: center;
    margin-top: 1%;
}

.display-brand-error {
    margin-top: 3%;
    grid-area: d; 
    text-align: center;
}

.food-success-message {
    margin-top: 3%;
    grid-area: d;
    text-align: center;
}

.each-brandFood {
    width: 80%;
    margin: auto;
    border-style: hidden;
    background: rgba(50,50,50, 1);
    border-radius: 1.5vw;
    padding: 0.3em;
    z-index: 40;
    margin-top: 2%;
    text-align: center;
}

.food-sort {
    background-color:rgb(40,40,40);
    border-style:solid;
    border-radius: 1.4vw;
    border: 2px solid;
    padding: 0.4em;
    font-size: 1.3vw;
    border-color: rgb(127,255,212);
    color: rgb(127,255,212);
    text-align: center;
}

.display-brand-foods li {
    list-style-type: none;
}


.find-food-description {
    grid-area: c;
    width: 28vw;
    margin-top: 12vh;
}

.find-food-description h2 {
    text-align: center;
    font-size: 2.2vw;
}

.find-food-description li {
    list-style-type: none;
    margin-top: 3%;
}

.success-message {
    margin-top: 4%;
}

.brand-food-modal .add-brand-meal-button {
    background-color: rgb(65, 65, 65);
    color: rgb(127,255,212);
    border-style: hidden;
    font-size: 1.3vw;
}

.brand-food-modal .add-brand-meal-button:hover {
    background-color: rgb(80, 80, 80);
    color: white;
}