
.journal {
    display: grid;
    grid-template-areas: 
    "a a"
    "e e"
    "b c"
    "b d";
    grid-template-rows: 100px 100px 0.5fr 0.5fr;
    grid-template-columns: 0.35fr 0.65fr;             
    position: absolute;
    width: 100vw;
    height: 100vh-65px;
    color:black;
  }

.calendar {
    grid-area: a;
    text-align: center;
}

.modal-buttons {
    grid-area: e;
    display:table;  
    margin: auto;
}

.modal-buttons .buttons {
    display:table-row; 

}
.exercise-modal {
    display:table-cell; 
    padding:5px;
}

.food-modal {
    display:table-cell; 
    padding:5px;
}

.meals-table-container {
    grid-area: c;
    text-align: center;
}

.meals-table {
    width: 850px;
    margin:auto;
    background: white;
    /* border-style: solid; */
}
/* 
th, tr, td {
    color:white;
} */

.exercises-table {
    width: 850px;
    margin:auto;
    background:white;
    /* border-style: solid; */
}

.exercise-table-container {
    grid-area: d;
    text-align: center;
}

.journal-nutrition-summary {
    grid-area: b;
    text-align: center;
}

.journal-message{
    grid-area: b;
    text-align: center;
    font-size: 40px;
}

.calories-summary {
    border-style: solid;
    width: 85%;
    margin: auto;
}

.macros-summary {
    border-style:solid;
    width: 85%;
    margin: auto;
}

.gradient-border {
    --borderWidth: 3px;;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }

.food-modal .add-meal-button {
    font-size: 25px;
}

.exercise-modal .exercise-modal-button {
    font-size: 25px;
}