
.journal {
    display: grid;
    grid-template-areas: 
    "a a"
    "e e"
    "b c"
    "b d";
    grid-template-rows: 90px 90px 0.5fr 0.5fr;
    grid-template-columns: 0.35fr 0.65fr;                
    position: absolute;
    width: 100vw;
    height: 100vh-65px;
    color:black;
  }

.calendar {
    grid-area: a;
    text-align: center;
}

.react-datepicker__input-container {
    margin-top: 20%;
}

#calendar-datepicker {
        background-color:rgb(65,65,65);
        border-style:hidden;
        border-radius: 20px;
        padding: 6px;
        color: white;
        text-align: center;
        width: 220px;
}

#calendar-datepicker::placeholder {
    color:white;
}

.modal-buttons {
    grid-area: e;
    display:table;  
    margin: auto;
}

.modal-buttons .buttons {
    display:table-row; 

}
.exercise-modal {
    display:table-cell; 
    padding:5px;
}

.food-modal {
    display:table-cell; 
    padding:5px;
}

.meals-table-container {
    grid-area: c;
    text-align: center;
}

.meals-table {
    width: 850px;
    margin:auto;
    background: rgb(40,40,40);
    /* border-style: solid; */
}

.meals-table th, .exercises-table th {
    color: rgb(127,255,212);
}
.meals-table td, tr, .exercises-table td, tr {
    color:white;
}

.search-exercises .table th, tr, td {
    color: black;
}
.exercises-table {
    width: 850px;
    margin:auto;
    background: rgb(40,40,40);
    /* border-style: solid; */
}

.exercise-table-container {
    grid-area: d;
    text-align: center;
}

.journal-nutrition-summary {
    grid-area: b;
    text-align: center;
}

.journal-message{
    grid-area: b;
    text-align: center;
    font-size: 40px;
    color:white;
    animation-duration: 450ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation: shake 0.5s; */
    /* animation-iteration-count: infinite; */
}

.calories-summary {
    width: 85%;
    margin: auto;
    border-style: hidden;
    background: rgba(40,40,40, .84);
    text-align:center;
    border-radius: 25px;
    padding: 20px;
    color:white;
}

#macros-summary-title, #calories-summary-title {
    font-size: 28px;
}

.macros-summary {
    width: 85%;
    margin: auto;
    border-style: hidden;
    background: rgba(40,40,40, .84);
    text-align:center;
    border-radius: 25px;
    padding: 20px;
    margin-top: 5%;
    color:white;
}

.gradient-border {
    --borderWidth: 3px;;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }

.meals-table-title {
    color: white;
}

.exercises-table-title {
    color:white;
}

.calories-progress {
    width: 280px;
    margin: auto;
    margin-top: 2%;
    font-weight: bold;
}

.progress .calories-progress-bar.progress-bar {
    color:black;
}
.macros-progress {
    width: 280px; 
    margin: auto; 
    font-weight:bold;
    margin-top: 3%;
}

.macros-progress-carbs, .macros-progress-protein, .macros-progress-fat {
    margin-top: 5%;
}

.macros-progress .progress .progress-bar {
    color:black;
}

.th-delete-button {
    width: 75px;
}

.delete-entry-button {
    color:red;
    background: rgb(40,40,40);
    border-style:hidden;
    font-size: 20px;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

 @keyframes blink {
    from {
       opacity: 1;
    }
    to {
       opacity: 0;
    }
  }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


  