#add-meal-modal-button {
    font-size: 1.5vw;
    background-color: rgb(127,255,212);
    color: black;
}

#exercise-modal-button {
    font-size: 1.5vw;
    background-color: rgb(127,255,212);
    color: black;
    border-style:hidden;
}

#add-meal-modal-button:hover, #exercise-modal-button:hover {
    background-color: white;
}

.foodModal .modal-content {
    background-color:rgb(40,40,40);
    border-style:hidden;
    border-radius: 1.3vw;
    padding: 0.5em;
    color: rgb(127,255,212);
}

.foodModal .modal-content .modal-body {
    margin: auto;
    text-align: center;
}

.modal-content .modal-header span {
    color: rgb(127,255,212);
}

.search input, .search-exercises .exercise-input {
    background-color:rgb(40,40,40);
    border-radius: 1.5vw;
    border: 2px solid;
    padding: 0.4em;
    font-size: 1.6vw;
    border-color: rgb(127,255,212);
    color: rgb(127,255,212);
    text-align: center;
}

.search button {
    margin-top: 5%;
    font-size: 1.5vw;
    padding: 0.5em;
}

.food {
    width: 100%;
    margin: auto;
    border-style: hidden;
    background: rgba(50,50,50, 1);
    border-radius: 1.4vw;
    padding: 0.3em;
    z-index: 40;
    margin-top: 2%;
    text-align: center;
}

.food .nutrition span {
    color:white;
}

.food-display .food h4 {
    color: white;
    font-size: 1.5vw;
}

.modal-body .search h3, .search-exercises h2 {
   color: white;
   font-size: 2vw;
}

.food button {
    font-size: 1.2vw;
    padding: 0.3em;
}

.food span {
    font-size: 1.2vw;
}

.modal-footer {
    margin: auto;
    text-align: center;
}

.modal-footer .food-modal-footer button {
    background-color:rgb(40,40,40);
    border-radius: 1.3vw;
    border: 2px solid;
    padding: 0.3em;
    border-color: rgb(127,255,212);
    color: rgb(127,255,212);
    font-size: 1.6vw;
    text-align: center;
    margin-top: 6%;
}
.modal-footer .food-modal-footer button:hover {
    background-color: rgb(65, 65, 65);
}

.modal-footer .food-modal-footer select {
    margin-top: 3%;
}

.modal-footer .food-modal-footer label {
    font-size: 1.4vw;
    font-weight: normal;
}

.modal-footer .food-modal-footer span {
    font-size: 1.2vw;
}

.modal-footer .food-modal-footer .food-name {
    color:white;
    font-size: 1.8vw;
}
.modal-footer .food-modal-footer input {
    background-color:rgb(40,40,40);
    border-radius: 1.3vw;
    border: 2px solid;
    padding: 0.3em;
    font-size: 1.4vw;
    border-color: rgb(127,255,212);
    color: white;
    width: 30%;
    text-align: center;
 }

 .food-modal-category {
    background-color:rgb(60,60,60);
    border-style:hidden;
    border-radius: 1.3vw;
    padding: 0.3em;
    color: rgb(127,255,212);
    font-size: 1.3vw;
 }

 .exercises-table-modal {
     width: 100%;
 }

.modal-content .exercises-table-modal th {
    color:white;
    font-size: 1.6vw;
}

.modal-content .exercises-table-modal td {
    color: rgb(127,255,212);
    font-size: 1.3vw;
}

.modal-content .exercises-table-modal td:hover {
    cursor:pointer;
    background-color: rgb(70,70,70)
}

.exercise-modal-footer .form {
    margin:auto;
}

.exercise-modal-footer {
    font-size: 1.4vw
}

.exercise-modal-footer input {
    background-color:rgb(40,40,40);
    border-radius: 1.3vw;
    border: 2px solid;
    padding: 0.2em;
    border-color: rgb(127,255,212);
    color: white;
    text-align: center; 
    width: 30%;
    margin-top: 1.5%;
}

#exercise-modal-exercise {
    color:white;
    font-size: 1.7vw
}

#exercise-modal-add-button {
    background-color:rgb(40,40,40);
    border-radius: 1.4vw;
    border: 2px solid;
    padding: 0.5em;
    border-color: rgb(127,255,212);
    color: rgb(127,255,212);
    margin-top: 6%;
    font-size: 1.4vw;
    font-weight: bold;
}

#exercise-modal-add-button:hover {
    background-color: rgb(65, 65, 65)
  }

  /* BRAND FOOD MODAL */

  .brandFoodModal .modal-content {
    background-color:rgb(40,40,40);
    border-style:hidden;
    border-radius: 1.4vw;
    padding: 0.4em;
    color: rgb(127,255,212);
}

.brandFoodModal .modal-content .modal-body {
    margin: auto;
    text-align: center;
}

.brandFoodModal .modal-content .modal-body .react-datepicker-wrapper input {
    background-color:rgb(65,65,65);
    border-style:hidden;
    border-radius: 1.4vw;
    padding: 0.4em;
    color: white;
    text-align: center;
    width: 85%;
}

.brandFoodModal .modal-content .modal-body .react-datepicker-wrapper input::placeholder {
    color:white;
}

.brandFoodModal .modal-content .modal-body h3 {
    color:white;
    margin-top: 4%;
}

.brandFoodModal .modal-content .modal-footer {
    margin: auto;
}

.brandFoodModal .modal-content .modal-footer select {
    background-color:rgb(65,65,65);
    border-radius: 1.4vw;
    border-style: hidden;
    padding: 0.3em;
    color: white;
    text-align: center;
}

.brandFoodModal .modal-content .modal-footer label {
    font-size: 1.2vw;
}

.brandFoodModal .modal-content .modal-footer input {
    background-color:rgb(65,65,65);
    border-radius: 1.4vw;
    border-style: hidden;
    padding: 0.3em;
    color: white;
    margin-top: 4%;
    font-size: 1.2vw;
    width: 20%;
    text-align: center;
}

.brandFoodModal .modal-content .modal-footer button {
    font-size: 1.3vw; 
    margin-top: 6%;
    padding: 0.4em;
    border-radius: 1.4vw
}