.profile-page {
    display: grid;
    grid-template-areas: 
    "."
    "a";
    grid-template-rows: 75px 775px;
    grid-template-columns: 1fr;             
    position: absolute;
    width: 90vw;
    height: 100vh-65px;
    left: 5%;
}

.whole-profile {    
    grid-area: a;
    display: grid;
    grid-template-areas: 
    "a"
    "b"
    "c";
    grid-template-rows: 200px 300px 300px;
    grid-template-columns: 1fr;             
    position: absolute;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: rgb(127,255,212);
    background-color:rgb(40,40,40);
}

.general-information {
    grid-area: a;
    display: grid;
    grid-template-areas: 
    "b b b b"
    "d e f g"
    "h i j k";
    width: 100%;
    height: 100%;
    grid-template-rows: 65px 75px 75px;
    grid-template-columns: 0.15fr 0.35fr 0.15fr 0.35fr;
}

label {
    font-size: 22px;
    font-weight: bold;
}

.profile-title {
    grid-area: '.';
    margin-top: 1.5%;
    font-weight:bold;
}

.general-information .general-information-title {
    grid-area: b;
    font-size: 30px;
    font-weight: bolder;
    width: 97%;
    margin: auto;
    border-bottom: 4px dotted white;
}

.label-1 {
    grid-area: d;
    margin-left: 25%;
}

.input-1 {
    grid-area: e;
    width: 500px;
    height: 50px;
    background-color:rgb(40,40,40);
    border-radius: 20px;
    border: 2px solid;
    padding: 12px;
    font-size: 20px;
    border-color: rgb(127,255,212);
    color: rgb(127,255,212);
}

.label-2 {
    grid-area: f;
    margin-left: 25%;
}

.input-2 {
    grid-area: g;
    width: 500px;
    height: 50px;
    background-color:rgb(40,40,40);
    border-radius: 20px;
    border: 2px solid;
    padding: 12px;
    font-size: 20px;
    border-color: rgb(127,255,212);
    color: rgb(127,255,212);
}

.label-3 {
    grid-area: h;
    margin-left: 25%;
}

.input-3 {
    grid-area: i;
    width: 500px;
    height: 50px;
    background-color:rgb(40,40,40);
    border-radius: 20px;
    border: 2px solid;
    padding: 12px;
    font-size: 20px;
    border-color: rgb(127,255,212);
    color: rgb(127,255,212);
}

.label-4 {
    grid-area: j;
    margin-left: 25%;
}

.input-4 {
    grid-area: k;
    width: 500px;
    height: 50px;
    background-color:rgb(40,40,40);
    border-radius: 20px;
    border: 2px solid;
    padding: 12px;
    font-size: 20px;
    border-color: rgb(127,255,212);
    color: rgb(127,255,212);
}

/* css for body type information */

.body-type {
    grid-area: b;
}

.body-type h3 {
    font-size: 30px;
    font-weight: bolder;
    width: 97%;
    margin: auto;
    border-bottom: 4px dotted white;
}

.body-type form {
    display: grid;
    grid-template-areas: 
    "a b c d"
    "e e e e"
    "f f f f"
    "g g g g"
    "h h h h";
    width: 100%;
    height: 100%;
    grid-template-rows: 70px 50px 50px 65px 30px;
    grid-template-columns: 0.15fr 0.35fr 0.15fr 0.35fr;
}


.form-1 {
    grid-area: a;
    margin-left: 25%;
    margin-top: 5%;
}

.form-2 {
    grid-area: b;
    width: 500px;
    height: 50px;
    margin-top: 1%;
    background-color:rgb(40,40,40);
    border-radius: 20px;
    border: 2px solid;
    padding: 12px;
    font-size: 20px;
    border-color: rgb(127,255,212);
    color: rgb(127,255,212);
}

.form-2::placeholder {
    color: rgb(127,255,212);
  }

.form-3 {
    grid-area: c;
    margin-left: 25%;
    font-size: 18px;
    font-weight: bold;
    margin-top: auto;
}

.form-4 {
    grid-area: d;
    width: 500px;
    height: 50px;
    margin-top: 1%;
    background-color:rgb(40,40,40);
    border-radius: 20px;
    border: 2px solid;
    padding: 12px;
    font-size: 20px;
    border-color: rgb(127,255,212);
    color: rgb(127,255,212);
}

.form-4::placeholder {
    color: rgb(127,255,212);
  }

.form-5 {
    grid-area: e;
    margin: auto;
    font-size: 25px;
}

.form-6 {
    grid-area: f;
    margin: auto;
    font-size: 20px;
    background-color:rgb(65,65,65);
    border-style:hidden;
    border-radius: 20px;
    padding: 6px;
    color: rgb(127,255,212);
}

.form-7 {
    grid-area: g;
    width: 100px;
    margin: auto;
    margin-top: 1%;
    background-color:rgb(40,40,40);
    border-radius: 20px;
    border: 2px solid;
    padding: 12px;
    border-color: rgb(127,255,212);
    color: rgb(127,255,212);
    font-weight:bolder;
}

.form-7:hover {
    background-color: rgb(65, 65, 65)
  }

  .profile-success-message {
    margin-top: 10%;
    grid-area: h;
    margin: auto;
    font-size: 20px; 
    font-weight: bolder;
}

.nutrition-summary {
    grid-area: c;
    display: grid;
    grid-template-areas: 
    "a a"
    "b c"
    "d e"
    "f f"
    "g g";
    width: 100%;
    height: 100%;
    grid-template-rows: 65px 60px 60px 30px 30px;
    grid-template-columns: 0.5fr 0.5fr;
}

.nutrition-summary h3 {
    grid-area: a;
    font-size: 30px;
    font-weight: bolder;
    width: 97%;
    margin: auto;
    border-bottom: 4px dotted white;
}

.macros-calories {
    grid-area: b;
    margin: auto;
    font-size: 28px;
    font-weight: normal;
}

.macros-carbs {
    grid-area: c;
    margin: auto;
    font-size: 28px;
    font-weight: normal;
}

.macros-protein {
    grid-area: d;
    margin: auto;
    font-size: 28px;
    font-weight: normal;
}

.macros-fat {
    grid-area: e;
    margin: auto;
    font-size: 28px;
    font-weight: normal;
}

.note-1 {
    grid-area: f;
    margin: auto;
}

.note-2 {
    grid-area: g;
    margin: auto;
}

