.tips {
    width: 65%;
    margin: auto;
    border-style: hidden;
    background: rgba(40,40,40, .84);
    border-radius: 25px;
    padding: 20px;
    margin-top: 5%;
    color:white;
    font-size: 17px;
    border-color:rgb(127,255,212);
}

.tips-title {
    text-align: center;
    font-size: 30px;
}

.tips h2 {
    font-size: 25px;
}

.teal-green {
    color: rgb(127,255,212);
}