.teal-green {
  color: rgb(127,255,212);
}

.app .navbar {
  height: 10vh;
  background: rgba(40, 40, 40, 0.8);
}

.app nav .navbar-brand {
  color: rgb(127,255,212);
  font-weight: bold;
  font-size: 1.8vw;
}

.app nav .navbar-brand:hover {
  color: rgb(56, 224, 168);
}

.app .navbar-nav a.nav-link {
  color: rgb(127,255,212);
  font-size: 1.7vw;
}

.app .navbar-nav a.nav-link:hover {
  color: white;
}

.app .navbar-nav a.nav-link:focus {
  color:white;
}

#signout {
  color: rgb(127,255,212);
  font-size: 1.7vw;
}

#signout:hover {
  color: white;
  text-decoration: none;
}

.app .signout-link {
  text-decoration: none; 
  font-size: 1.7vw;
  color: rgb(127,255,212);
}

.app .signout-link:hover {
  color: rgb(56, 224, 168);
}

.app .login-link {
  text-decoration: none; 
  background-color:rgb(40,40,40);
  border-style:solid;
  border-radius: 20px;
  border: 2px solid;
  padding: 0.3em;
  font-size: 1.7vw;
  border-color: rgb(127,255,212);
  color: rgb(127,255,212);
}

.app .login-link:hover {
  background-color: rgb(65, 65, 65)
}
.app {
  background: #121212;
  color: white;
}

.home {
  text-align: center;
  margin-top: 5%;
}

.home h1 {
  font-size: 3.7vw;
}

.home h2 {
  font-size: 3vw;
}

.home button {
  background:rgb(127,255,212);
  border-radius: 2vw;
  border: 2px solid rgb(27, 27, 27);
  padding: 1vw;
  margin-top: 2%;
}

.home button:hover {
  background: rgb(56, 224, 168)
}

.home .nav-link {
  text-decoration: none;
  color: white;
  font-size: 2vw;
  font-weight: bolder;
}

.demolish {
  color: rgb(127,255,212);
}

.no-outline:focus {
  outline: none;
}

.capitalize {
  text-transform: capitalize;
}

.button {
  background-color:rgb(40,40,40);
  border-radius: 2vw;
  border: 2px solid;
  padding: 1vw;
  border-color: rgb(127,255,212);
  color: rgb(127,255,212);
}

.button:hover {
  background-color: rgb(65, 65, 65)
}

.input-style {
  background-color:rgb(40,40,40);
  border-radius: 1.8vw;
  border: 2px solid;
  padding: 1vw;
  border-color: rgb(127,255,212);
  color: white;
}

.login {
  border-style: hidden;
  background: rgba(40,40,40, .84);
  text-align:center;
  width: 40vw;
  margin: auto;
  border-radius: 2.5vw;
  padding: 1vw;
  margin-top: 10vh;
}

.login-title {
  color: white;
  font-size: 3vw;
}

.login input {
  background-color:rgb(40, 40, 40);
  border-radius: 2vw;
  border: 2px solid;
  padding: 0.7vw;
  font-size: 1.2vw;
  border-color: rgb(127,255,212);
  color: rgb(127,255,212);
  text-align: center;
  margin-top: 2vh;
  width: 25vw;
  height: 6vh;
}

#login-button {
  margin-top: 3vh;
  background-color:rgb(40,40,40);
  border-radius: 1.5vw;
  border: 2px solid;
  padding: 0.9vw;
  border-color: rgb(127,255,212);
  color: rgb(127,255,212);
  font-weight:bolder;
  font-size: 1.6vw;
}

#login-button:hover {
  background-color: rgb(65, 65, 65);
}

.login p {
  margin-top: 2vh;
  font-size: 1.8vw;
}

#login-signup-button {
  background:rgb(127,255,212);
  border-radius: 1.5vw;
  border: 2px solid rgb(27, 27, 27);
  padding: 0.7vw;
}

#login-signup-button:hover {
  background: rgb(56, 224, 168)
}

#login-signup-button .nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.3vw;
  font-weight: bolder;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}